html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    min-height: 100vh;
}

body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    padding-bottom: 240px;
}

.inner-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    padding: 0 .5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

/* for dev only will be removed */

h1.dev {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}
