/* header.main-header - Header used on the marketing site */
header.main-header {
    min-height: 3rem;
    background: @header-bg-color;
    color: @header-font-color;
    line-height: 2rem;
    font-size: 1.2rem;

    .inner-wrapper {
        justify-content: space-between;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: @header-a-color;
    }

    a.logo {
        width: 250px;
        border: 1px solid #999;
    }

    a.login {
        width: 150px;
        border: 1px solid #999;
        text-align: center;
    }

    nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;

        a {
            padding: 5px 0;
        }

        a:hover {
            padding-bottom: 0;
            border-bottom: 5px solid rgb(37, 107, 236);
        }
    }

}
