/* base fonts */

/* base colors */

/* base sizes/widths */

/* header & footer */
@header-bg-color: #254560;
@header-font-color: #f3f3f3;
@header-a-color: @header-font-color;

@footer-bg-color: @header-bg-color;
@footer-font-color: #f3f3f3;
@footer-a-color: @footer-font-color;

/* mobile menu sizes */
@mobile-menu-height: 48px;
@mobile-menu-font-size: 20px;

/* menu colors */
@menu-bg-color: @header-bg-color;
@menu-font-color: @header-font-color;