section.about {
    .inner-wrapper {
        display: block;
        padding: 2rem 2rem 50px;
        max-width: 800px;
    }

    h1, h2, h3 {
        margin: 20px 0 0;
    }

    strong {
        font-weight: bold;
    }

    p {
        margin: 10px 0;
        padding: 0 5px;
    }
}

