.privacy-header {
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3.2rem;
      font-weight: bolder;
      text-align: center;
      padding-bottom: 20px;
    }
  }


.privacy-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.privacy {
    padding-top: 20px;

    p {
        padding-bottom: 10px;
    }
    ul {
        padding-top: 10px;
        padding-bottom: 10px;

        li:before {
            content: '•';
            padding-right: 15px;
        }
    }
}