
/* For the shadow hover box functionality */
.shadow-element {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.4);
  transform: perspective(1500px) translateZ(3px);
  border-radius: 10px;
}


.team-header {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: bolder;
  }
}

.team-wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}


.team-container {
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;

    .team-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      
      .team-member {
        width: 100%;
        height: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 2em;
        max-width: 800px;

        display: flex;
        justify-content: flex-start;
        
        
        .avatar {
          width: 180px;
          height: 180px;
          margin-top: 6px;
          margin-right: 2em;
          border-radius: 50%;  
        }
        
        h5 {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.8rem;
          font-weight: bolder;
        }
      }
    }
  }

  .member-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  } 
  
  
  .team-title-div {
    width: 100%;
    
    display: flex;
    align-items: center;
  
    .media-icons {
      display: flex;
  
      .social-icon {
        width: 25px;
        height: 25px;
        font-size: 25px;
        margin-left: 12px;
        color: blue;
        
        &:hover {
          color: lightblue;
        }
      }
    }
  }

  .team-title-div {
    margin-top: 20px;
    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: lighter;
    }
  }


  .summary {
    display: none;

    p {
      margin-top: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: lighter;
      }
  }

.summary-btn {

  width: 90px;
  height: 30px;
  margin-top: 10px;

  border: 1px solid white;
  border-radius: 10px;

  background: blue;
  color: white;

  &:hover {
    background: white;
    color: blue;
    border-color: blue;
  }

}

.summary-close {
  display: none;
}



